<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>
    <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/returnItem/storeReItem.css}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/common.js}"></script>
    <style>
        #layerPop {
            display:none;
            border:1px solid #ccc;
            padding:10px;
            background-color: #fff;
            box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
            border-radius: 10px;
        }

        #layerPop .close {
            position:absolute;
            bottom:5px;
            right:5px;
        }
        .close-btn {
            position: absolute;
            right: 10px;
            top: 47px;
        }

    </style>
</head>
<body>
<div class="wrap">

    <!-- S: header -->
    <div th:include="common/userHeader.html"></div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

        <!-- sidebar -->
        <div th:replace="common/userSidebar.html"></div>

        <!-- S: main layout -->
        <div class="main_layout">
            <div class="main_layout_inner">

                <!-- 작업 영역 -->
                <!-- S: table -->
                <div class="container-fluid" style="margin-top:30px">
                    <h3><i class="fa-solid fa-list-check"></i> 반품 내역</h3>
                    <br>
                    <div class="input-group mb-4 col-12">
                        <div class="dateList1  mx-4"> 반품 신청일 :
                            <span id="dueDate" th:text="${ updateItem.rDate }"></span>
                        </div>
                        <form id="updateForm" name="updateForm" th:action="@{/reItem/user/reviseReItem}" method="post" class="col-12">
                        <div class="dateList2" style="font-weight: bold;">
                            <select id="rReason" name="rReason" class="form-control col-4" style="max-width: max-content; margin-right: 10px; display: inline-block; border: none;">
                                <option value="date"> - 반품사유 - </option>
                                <option value="date1">실수로 잘못 주문함</option>
                                <option value="date2">배송중 손상됨</option>
                                <option value="date3">더이상 필요하지 않음</option>
                                <option value="date4">유통기한이 지난(짧은) 상품 배송</option>
                            </select>
                        </div>
                        <div class="dateList3" style="font-weight: bold;">
                            총 반품액 :
                            <input type="text" id="returnTotalMoney" class="returnTotalMoney" th:value="|${ #numbers.formatInteger(updateItem.returnTotalMoney, 0, 'COMMA') }원|" style="width: 150px; background-color: #f5f5f9" readonly>
                            <input type="hidden" name="returnTotalMoney" id="reTotal">
                            <input type="hidden" name="total" id="total">
                        </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-warning mx-1" style="color: #fff;" onclick="openLayer('layerPop',7, 12)">품목 추가</button>
                        <div id="layerPop" class="p-5" style="display:none; width: 75%; height: 800px; position: absolute; z-index: 1; overflow: scroll;">
                            <div class="mt-3 d-flex justify-content-end">
                                <input type="hidden" name="itemNoList" id="result">
                                <button class="btn btn-warning me-1" type="button" style="color: #fff;" onclick='getCheckboxValue()'>품목 추가</button>
                            </div>
                            <table class="table"  style="margin-top: -8px;">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="form-check pb-3">
                                            <input type="checkbox" class="form-check-input" id="cbx_chkAll1" required/>
                                        </div>
                                    </th>
                                    <th>상품코드</th>
                                    <th>썸네일</th>
                                    <th>상품명</th>
                                    <th>카테고리</th>
                                    <th>규격</th>
                                    <th>제조사(원산지)</th>
                                    <th>가격</th>
                                    <th>재고량</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" st : ${ storeItems }">
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="chk1" th:value="${ st.itemNo }">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td th:text="${ st.itemNo }"></td>
                                    <td>
                                        <div class="img-info">
                                            <div class="img-info__img">
                                                <img th:src="'/itemImage/' + ${ st.fileName }" alt="">
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${ st.itemName }"></td>
                                    <td th:text="${ st.categoryName }"></td>
                                    <td th:text="${ st.itemStandard }"></td>
                                    <td th:text="${ st.itemMake }"></td>
                                    <td th:text="|${ #numbers.formatInteger(st.itemSales, 0, 'COMMA') }원|"></td>
                                    <td th:text="${ st.storeAmount }"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="close-btn">
                                <a href="#" onclick="closeLayer('layerPop')" class="close">
                                    <i class="fa fa-times close" onclick="closeLayer('layerPop')"></i>
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-warning me-1" type="button" onclick="deleteItems()" style="color: #fff;">선택품목삭제</button>
                        <button class="btn btn-warning mx-1" onclick="correctionForm()" style="color: #fff;">수정</button>
                        <button class="btn btn-warning mx-1" onclick="location.href='/reItem/user/storeReList';" style="color: #fff;">돌아가기</button>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check pb-3">
                                    <input type="checkbox" class="form-check-input" id="cbx_chkAll2" required/>
                                </div>
                            </th>
                            <th>상품코드</th>
                            <th>썸네일</th>
                            <th>상품명</th>
                            <th>카테고리</th>
                            <th>규격</th>
                            <th>제조사(원산지)</th>
                            <th>판매가격</th>
                            <th>반품수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each=" reUp : ${ updateItems }">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="chk2" th:value="${ reUp.itemNo }">
                                    <label class="form-check-label"></label>
                                </div>
                            </td>
                            <td th:text="${ reUp.itemNo }"></td>
                            <input type="hidden" name="itemNo2" th:value="${ reUp.itemNo }">
                            <td>
                                <div class="img-info">
                                    <div class="img-info__img">
                                        <img th:src="'/itemImage/' + ${ reUp.fileName }" alt="">
                                    </div>
                                </div>
                            </td>
                            <td th:text="${ reUp.itemName }"></td>
                            <td th:text="${ reUp.categoryName }"></td>
                            <td th:text="${ reUp.itemStandard }"></td>
                            <td th:text="${ reUp.itemMake }"></td>
                            <td id="itemPurchase" class="itemPurchase" th:text="|${ #numbers.formatInteger(reUp.itemSales, 0, 'COMMA') }원|"></td>
                            <td>
                                <input type="number" min="0" th:max="${ reUp.storeAmount }" style="width:60px; text-align: center; border: 1px solid rgb(255, 255, 255); border-bottom: 1px solid;" th:value="${ reUp.returnCount }" class="returnAmount" id="returnCount" onchange="inputValueChange(this);">
                                <input type="hidden"  th:value="${ reUp.returnCount }" name="firstCount" id="firstCount">
                                <input type="hidden" id="returnCount2" name="returnCount2"  th:value="${ reUp.returnCount }">
                                <button type="submit" style="border : none; background-color: #fff;"></button>
                            </td>
                            <input type="hidden" id="returnItemNo" name="returnItemNo" th:value="${ reUp.returnItemNo }">
                            <input type="hidden" id="rNo" name="rNo" th:value="${ rNo }">
                        </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
                <!-- E: table -->
            </div>
        </div>
        </div>
        <!-- E: main layout -->
    </div>
    <!-- E: container -->
</div>
<!-- table js -->
<!-- 반품신청 -->
<script type="text/javascript">
    function correctionForm() {
        var result = confirm("수정완료 하시겠습니까?");

        if(result == true) {

            $('#updateForm').submit();
            alert("신청서 수정이 완료되었습니다.");
        }else {
            return false;
        }
    }

    <!-- 반품금액 계산 -->
    $(function(){

        let reason = '[[${ updateItem.rReason }]]';
        let value = '';
        switch(reason){

            case "실수로 잘못 주문함" : value = "date1";
                break;
            case "배송중 손상됨" : value = "date2";
                break;
            case "더이상 필요하지 않음" : value = "date3";
                break;
            case "유통기한이 지난(짧은) 상품 배송" : value = "date4";
                break;

        }
        $("#rReason").val(value).prop("selected", true);

    });

    let returnTotalMoney = [[${ updateItem.returnTotalMoney }]];

    function inputValueChange(check){

        // // 반품수량
         let inputValue = $(check.parentElement)[0].children[0].value;

         $(check.parentElement)[0].children[1].value = inputValue;

        let returnAmount = $(".returnAmount");
        let itemPurchase = $(".itemPurchase");

        let total = 0;
        for(let i = 0; i < returnAmount.length; i++){

            total += returnAmount[i].value * parseInt(itemPurchase[i].innerText.replace(',',''));
        }
        console.log(total);
        document.getElementById('returnTotalMoney').value = total.toLocaleString('ko-KR') + "원";
        document.getElementById('total').value = total;
        document.getElementById('reTotal').value = returnTotalMoney;
        let secondCount = returnAmount;
    }

    <!-- 레이어 팝업 -->
    $(".detail-main").click(function() {
        $(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
        $(this).toggleClass('on').siblings().removeClass('on');
        $(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
    });

    function openLayer(IdName, tpos, lpos){
        var pop = document.getElementById(IdName);
        pop.style.display = "block";
        pop.style.top = tpos + "%";
        pop.style.left = lpos + "%";
    }
    function closeLayer(IdName){
        var pop = document.getElementById(IdName);
        pop.style.display = "none";
    }

</script>
<!-- 체크박스 선택 스크립트(하나만 선택되도록 하기) -->
<script type="text/javascript">

    $("input[name=chk1]").on('change',function(){

        let count = 0;
        for(let i =0; i < $("input[name=chk1]").length; i++){

            if($("input[name=chk1]")[i].checked){
                count++;
            }

            if(count == 2){
                alert("등록은 하나만 체크가 가능합니다.");
                $("input[name=chk1]")[i].checked = false;
                return;
            }
        }
    });

    $("input[name=chk2]").on('change',function(){

        let count = 0;
        for(let i =0; i < $("input[name=chk2]").length; i++){

            if($("input[name=chk2]")[i].checked){
                count++;
            }

            if(count == 2){
                alert("삭제는 하나만 체크가 가능합니다.");
                $("input[name=chk2]")[i].checked = false;
                return;
            }
        }
    });


    <!-- 품목추가할 아이템 번호 불러오기  -->
    function getCheckboxValue(){

        var insertOne = "";

        $("[name=chk1]").each(function(){
            if( $(this).is(":checked") ){
                if(insertOne == ""){
                    insertOne = $(this).val();
                }else {
                    insertOne += '@'+$(this).val();
                }
            }
        });

        var rNo = document.getElementById('rNo').value;

        $.ajax({
            url: "/reItem/user/insertOneReItem",
            type: "POST",
            data: {"insertOne": insertOne , "rNo" : rNo},
            success: function(data){
                console.log(data); // success, failed

                 if(data == 'success') {
                     alert("추가성공");
                     location.href="/reItem/user/reviseReItem?rNo="+rNo;
                 }
            },
            error: function(){
                alert("추가실패");
            }
        });
    }

    <!-- 아이템 한줄 삭제 -->
    function deleteItems(){

        var deleteNum = "";

        $("[name=chk2]").each(function(){
            if( $(this).is(":checked") ){
                if(deleteNum == ""){
                    deleteNum = $(this).val();
                }else {
                    deleteNum += '@'+$(this).val();
                }
            }
        });

        var rNo = document.getElementById('rNo').value;
        var returnCount = document.getElementById("returnCount2").value;

        $.ajax({
            url: "/reItem/user/deleteReItem",
            type: "POST",
            data: {"deleteNum": deleteNum , "rNo" : rNo, "returnCount" : returnCount},
            success: function(data){
                console.log(data); // success, failed

                if(data == 'success') {
                    alert("삭제성공");
                    location.href="/reItem/user/reviseReItem?rNo="+rNo;
                }
            },
            error: function(){
                alert("삭제실패");
            }
        });
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>