<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>
    <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/returnItem/returnRe.css}"/>
    <!-- datepicker js & css -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/da4b1b94bb.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="wrap">

    <!-- header -->
    <div th:include="common/adminHeader.html"></div>

    <!-- S: container -->
    <div class="container px-0">
        <!-- sidebar -->
        <div th:replace="common/adminSidebar.html"></div>
        <!-- S: main layout -->
        <div class="main_layout">
            <div class="main_layout_inner" style="position:relative;">

                <!-- 작업 영역 -->
                <!-- S: table -->
                <form id="updateForm" action="/reItem/admin/adminReItem" method="post">
                <div class="container-fluid" style="margin-top:30px">
                    <h3><i class="fa-solid fa-list-check"></i> 반품신청 내역</h3>
                    <br>
                    <div class="input-group mb-3 col-12" style="height: 200px">
                        <div class="dateList1" style="font-weight: bold;"> 반품 신청일 :
                            <span id="dueDate" th:text="${ reItem.rDate }"></span>
                        </div>
                        <div class="dateList2" style="font-weight: bold;"> 반품사유 :
                            <span id="deadline" th:text="${ reItem.rReason }"></span>
                            <input type="hidden" name="rReason" th:value="${ reItem.rReason }">
                        </div>
                        <div class="dateList3" style="font-weight: bold;"> 환급예정금액 :
                            <span id="deadline2" th:text="|${#numbers.formatInteger(reItem.returnTotalMoney, 3, 'COMMA') }원|"></span>
                            <input type="hidden" name="returnTotalMoney" th:value="${ reItem.returnTotalMoney }">
                        </div>
                        <input type="hidden" name="rNo" th:value="${ rNo }">
                        <input type="hidden" name="storeName" th:value="${ storeName }">
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>상품코드</th>
                            <th>썸네일</th>
                            <th>상품명</th>
                            <th>카테고리</th>
                            <th>규격</th>
                            <th>제조사(원산지)</th>
                            <th>판매가격</th>
                            <th>반품수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="re : ${ reItems }">
                            <td th:text="${ re.itemNo }"></td>
                            <input type="hidden" name="itemNo2" th:value="${ re.itemNo }">
                            <td>
                                <div class="img-info">
                                    <div class="img-info__img">
                                        <img th:src="'/itemImage/' + ${ re.fileName }" alt="">
                                    </div>
                                </div>
                            </td>
                            <td th:text="${ re.itemName }"></td>
                            <td th:text="${ re.categoryName }"></td>
                            <td th:text="${ re.itemStandard }"></td>
                            <td th:text="${ re.itemMake }"></td>
                            <td th:text="${ re.itemSales }"></td>
                            <td th:text="|${ re.returnCount } 개|"></td>
                            <input type="hidden" name="returnCount2" th:value="${ re.returnCount }">
                        </tr>
                        </tbody>
                    </table>
                </div>
                </form>
                <!-- E: table -->
                <th:block th:if="${ returnProgress eq '대기' }">
                    <button class="btn btn-warning me-1" style="position: absolute; right: 270px; color: #fff;" onclick="updateReItems()">반품 승인</button>
                </th:block>
                <th:block th:if="${ returnProgress eq '반품완료' }">
                    <button class="btn btn-light me-1" style="position: absolute; right: 270px; background-color: #ccc; color: #fff;" disabled>반품 승인</button>
                </th:block>
                <button class="btn btn-warning me-1" style="position: absolute; right: 180px;  color: #fff;" onclick="location.href='/reItem/admin/adminReList'">뒤로가기</button>
            </div>
        </div>
        <!-- E: main layout -->
    </div>
    <!-- E: container -->
</div>

<script>
    /*<![CDATA[*/

    // 반품 update
    function updateReItems() {

        if ( !confirm("반품처리를 하겠습니까?") ) {
            return false;
        }

        const formHtml = `
                    <form id="updateForm" action="/reItem/admin/adminReItem" method="post">
                    </form>
                `;
        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        document.getElementById('updateForm').submit();

        alert('반품이 완료되었습니다.')
    }

    /*]]>*/
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>