<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.counsel.model.dao.CounselMapper">

    <resultMap id="counselResultMap" type="CounselDTO">
        <id property="counselNo" column="COUNSEL_NO"/>
        <result property="counselName" column="COUNSEL_NAME"/>
        <result property="counselContent" column="COUNSEL_CONTENT"/>
        <result property="counselRegistDate" column="COUNSEL_REGIST_DATE"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="counselYn" column="COUNSEL_YN"/>
    </resultMap>

    <resultMap id="counselApplyResultMap" type="CounselApplyDTO">
        <id property="counselNo" column="COUNSEL_NO"/>
        <result property="answerContent" column="ANSWER_CONTENT"/>
        <result property="answerRegistDate" column="ANSWER_REGIST_DATE"/>
        <result property="empName" column="EMP_NAME"/>
    </resultMap>

    <!-- 페이징을 위한 전체 개수 조회 -->
    <select id="selectTotalCount" parameterType="CounselDTO" resultType="_int">
        SELECT
               COUNT(*)
          FROM COUNSEL
         ORDER BY COUNSEL_NO DESC
    </select>

    <!-- 유저 1:1 문의 작성하기 -->
    <insert id="insertCounsel">
        INSERT
          INTO COUNSEL
        (
          COUNSEL_NO, COUNSEL_NAME, COUNSEL_CONTENT
        , COUNSEL_REGIST_DATE, STORE_NAME, COUNSEL_YN
        )
        VALUES
        (
          SEQ_COUNSEL_NO.NEXTVAL, #{ counselName }, #{ counselContent }
        , SYSDATE, #{ storeName }, DEFAULT
        )
    </insert>

    <!-- 1:1 문의 리스트 조회하기 -->
    <select id="selectCounsel" resultMap="counselResultMap">
        SELECT
               A.RNUM
             , A.COUNSEL_NO
             , A.COUNSEL_NAME
             , A.COUNSEL_CONTENT
             , A.COUNSEL_REGIST_DATE
             , A.STORE_NAME
             , A.COUNSEL_YN
          FROM (SELECT ROWNUM RNUM
                     , B.COUNSEL_NO
                     , B.COUNSEL_NAME
                     , B.COUNSEL_CONTENT
                     , B.COUNSEL_REGIST_DATE
                     , B.STORE_NAME
                     , B.COUNSEL_YN
                  FROM (SELECT C.COUNSEL_NO
                             , C.COUNSEL_NAME
                             , C.COUNSEL_CONTENT
                             , C.COUNSEL_REGIST_DATE
                             , C.STORE_NAME
                             , C.COUNSEL_YN
                          FROM COUNSEL C
      ORDER BY C.COUNSEL_NO DESC
      ) B
      <![CDATA[
                WHERE ROWNUM <= #{ endRow }
                  ]]>
      ) A
      WHERE A.RNUM >= #{ startRow }
      ORDER BY 1 ASC
    </select>

    <!-- 1:1 문의 인덱스로 해당 게시글 내용 조회하기 -->
    <select id="selectCounselByNo" resultMap="counselResultMap">
        SELECT
               COUNSEL_NO
             , COUNSEL_NAME
             , COUNSEL_CONTENT
             , COUNSEL_REGIST_DATE
             , STORE_NAME
             , COUNSEL_YN
          FROM COUNSEL
         WHERE COUNSEL_NO = #{ counselNo }
    </select>

    <!-- 관리자 1:1 문의 답변 등록하기 -->
    <insert id="insertCounselApply">
        INSERT
          INTO COUNSEL_APPLY
        (
          COUNSEL_NO
        , ANSWER_CONTENT
        , ANSWER_REGIST_DATE
        , EMP_NAME
        )
        VALUES
        (
          #{ counselNo }
        , #{ answerContent }
        , SYSDATE
        , #{ empName }
        )
    </insert>

    <!-- 1:1 문의 답변 등록 성공 시 counsel 상태 '답변 완료'로 변경 -->
    <update id="updateCounsel">
        UPDATE
               COUNSEL
           SET COUNSEL_YN = '답변 완료'
         WHERE COUNSEL_NO = #{ counselNo }
    </update>

    <!-- 1:1 문의 인덱스로 해당 1:1 문의 답변 내용 조회 -->
    <select id="selectCounselApplyByNo" resultMap="counselApplyResultMap">
        SELECT
               COUNSEL_NO
             , ANSWER_CONTENT
             , ANSWER_REGIST_DATE
             , EMP_NAME
          FROM COUNSEL_APPLY
         WHERE COUNSEL_NO = #{ counselNo }
    </select>

    <!-- 현재 로그인 계정 1:1 문의 리스트 조회하기 -->
    <select id="selectCounselByStoreName" resultMap="counselResultMap">
        SELECT
               COUNSEL_NO
             , COUNSEL_NAME
             , COUNSEL_CONTENT
             , COUNSEL_REGIST_DATE
             , STORE_NAME
             , COUNSEL_YN
          FROM COUNSEL
         WHERE STORE_NAME = #{ storeName }
    </select>
</mapper>