<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chicken.project.notice.model.dao.NoticeMapper">
    <resultMap id="noticeResultMap" type="NoticeDTO">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="noticeName" column="NOTICE_NAME"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="noticeRegistDate" column="NOTICE_REGIST_DATE"/>
        <result property="noticeModifyDate" column="NOTICE_MODIFY_DATE"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="noticeCount" column="NOTICE_COUNT"/>

        <collection property="noticeFile" ofType="NoticeFileDTO">
            <result property="fileNo" column="FILE_NO"></result>
            <result property="originName" column="ORIGIN_NAME"/>
            <result property="fileName" column="FILE_NAME"></result>
            <result property="savedPath" column="SAVED_PATH"></result>
            <result property="noticeNo" column="NOTICE_NO"></result>
        </collection>
    </resultMap>

    <resultMap id="noticeFileResultMap" type="NoticeFileDTO">
        <id property="fileNo" column="FILE_NO"></id>
        <result property="originName" column="ORIGIN_NAME"></result>
        <result property="fileName" column="FILE_NAME"></result>
        <result property="savedPath" column="SAVED_PATH"></result>
        <result property="noticeNo" column="NOTICE_NO"></result>
    </resultMap>

    <!-- 공지사항 전체 글 개수 조회 -->
    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM NOTICE A
      <if test="searchCondition == 'writer'">
          LEFT JOIN EMPLOYEE B ON(A.EMP_NAME = B.EMP_NAME)
      </if>
        <where>
            <if test="searchCondition == 'writer'">
                B.EMP_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                A.NOTICE_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                A.NOTICE_CONTENT LIKE '%' || #{ searchValue } || '%'
            </if>
        </where>
     ORDER BY A.NOTICE_NO DESC
    </select>

    <!-- 공지사항 리스트 조회 -->
    <select id="selectNoticeList" resultMap="noticeResultMap">
        SELECT
               A.RNUM
             , A.NOTICE_NO
             , A.NOTICE_NAME
             , A.EMP_NAME
             , A.NOTICE_CONTENT
             , A.NOTICE_REGIST_DATE
             , A.NOTICE_COUNT
             , D.EMP_NAME
          FROM (SELECT ROWNUM RNUM
                     , B.NOTICE_NO
                     , B.NOTICE_NAME
                     , B.EMP_NAME
                     , B.NOTICE_CONTENT
                     , B.NOTICE_COUNT
                     , B.NOTICE_REGIST_DATE
                  FROM (SELECT C.NOTICE_NO
                             , C.NOTICE_NAME
                             , C.EMP_NAME
                             , C.NOTICE_CONTENT
                             , C.NOTICE_COUNT
                             , C.NOTICE_REGIST_DATE
                          FROM NOTICE C
        <if test="searchCondition == 'writer'">
            LEFT JOIN EMPLOYEE D ON(C.EMP_NAME = D.EMP_NAME)
        </if>
        <where>
            <if test="searchCondition == 'writer'">
                D.EMP_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                C.NOTICE_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                C.NOTICE_CONTENT LIKE '%' || #{ searchValue } || '%'
            </if>
        </where>
        ORDER BY C.NOTICE_NO DESC
        ) B
        <![CDATA[
                  WHERE ROWNUM <= #{ endRow }
                  ]]>
        ) A
        LEFT JOIN EMPLOYEE D ON (A.EMP_NAME = D.EMP_NAME)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 ASC
    </select>

    <!-- 공지사항 등록  -->
    <insert id="noticeInsert">
        INSERT
          INTO NOTICE
        (
          NOTICE_NO
        , NOTICE_NAME
        , NOTICE_CONTENT
        , NOTICE_REGIST_DATE
        , NOTICE_MODIFY_DATE
        , EMP_NAME
        )
        VALUES
        (
          SEQ_NOTICE_NO.NEXTVAL
        , #{ noticeName }
        , #{ noticeContent }
        , TO_CHAR(SYSDATE,'yyyy-MM-dd HH24:MI:SS')
        , NULL
        , #{ empName }
        )
    </insert>

    <!-- 공지사항 파일 등록  -->
    <insert id="noticeFileInsert">
        <selectKey keyProperty="noticeNo" order="BEFORE" resultType="_int">
            SELECT
                   SEQ_NOTICE_NO.CURRVAL
              FROM DUAL
        </selectKey>
        INSERT
          INTO NOTICE_FILE
        (
          FILE_NO
        , ORIGIN_NAME
        , FILE_NAME
        , SAVED_PATH
        , NOTICE_NO
        )
        VALUES
        (
          SEQ_NOTICE_FILE_NO.NEXTVAL
        , #{ originName }
        , #{ fileName }
        , #{ savedPath }
        , #{ noticeNo }
        )
    </insert>

    <!-- 공지사항 상세페이지 조회 -->
    <select id="noticeDetailByNo" resultMap="noticeResultMap" parameterType="_int">
        SELECT
               A.NOTICE_NO
             , A.NOTICE_NAME
             , A.NOTICE_CONTENT
             , A.NOTICE_REGIST_DATE
             , A.NOTICE_MODIFY_DATE
             , A.EMP_NAME
             , A.NOTICE_COUNT
             , B.FILE_NO
             , B.ORIGIN_NAME
             , B.FILE_NAME
             , B.SAVED_PATH
             , B.NOTICE_NO
          FROM NOTICE A
          LEFT JOIN NOTICE_FILE B ON (A.NOTICE_NO = B.NOTICE_NO)
         WHERE A.NOTICE_NO = #{ noticeNo }
    </select>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="NoticeDTO">
        DELETE
          FROM NOTICE
         WHERE NOTICE_NO = #{ noticeNo }
    </delete>

    <!-- 공지사항 첨부파일 삭제 -->
    <delete id="deleteNoticeFile" parameterType="NoticeFileDTO">
        DELETE
          FROM NOTICE_FILE
         WHERE NOTICE_NO = #{ noticeNo }
    </delete>

    <!-- 공지사항 index로 파일 정보 조회하기 -->
    <select id="selectFileByName" resultMap="noticeFileResultMap">
        SELECT
               FILE_NO
             , ORIGIN_NAME
             , FILE_NAME
             , SAVED_PATH
             , NOTICE_NO
          FROM NOTICE_FILE
         WHERE NOTICE_NO = #{ noticeNo }
    </select>

    <!-- 공지사항 수정 -->
    <update id="updateNotice">
        UPDATE
               NOTICE
        <trim prefix="SET" prefixOverrides=",">
            <if test="noticeName != null and noticeName != ''">
                , NOTICE_NAME = #{ noticeName }
            </if>
            <if test="noticeContent != null and noticeContent !=''">
                , NOTICE_CONTENT = #{ noticeContent }
            </if>
                , NOTICE_MODIFY_DATE = TO_CHAR(SYSDATE,'yyyy-MM-dd HH24:MI:SS')
        </trim>
         WHERE NOTICE_NO = #{ noticeNo }
    </update>

    <!-- 공지사항 첨부파일 수정 -->
    <insert id="updateNoticeFile">
        INSERT
          INTO NOTICE_FILE
        (
          FILE_NO
        , ORIGIN_NAME
        , FILE_NAME
        , SAVED_PATH
        , NOTICE_NO
        )
        VALUES
        (
          SEQ_NOTICE_FILE_NO.NEXTVAL
        , #{ originName }
        , #{ fileName }
        , #{ savedPath }
        , #{ noticeNo }
        )
    </insert>

    <!-- 공지사항 조회수 증가 -->
    <update id="incrementNoticeCount">
        UPDATE
               NOTICE A
           SET A.NOTICE_COUNT = (SELECT B.NOTICE_COUNT
                                   FROM NOTICE B
                                  WHERE B.NOTICE_NO = #{ noticeNo }
                                ) + 1
        WHERE A.NOTICE_NO = #{ noticeNo }
    </update>

    <!-- 메인페이지 공지사항 조회 -->
    <select id="selectMainNotice" resultMap="noticeResultMap">
        SELECT
               NOTICE_NO
             , NOTICE_NAME
             , EMP_NAME
             , NOTICE_COUNT
             , NOTICE_REGIST_DATE
          FROM NOTICE
         <![CDATA[
         WHERE ROWNUM <= 5
                  ]]>
         ORDER BY NOTICE_NO DESC
    </select>
</mapper>
