<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/member/member.css}"/>
    <script>
        function ck_infor(){

            let pw1 = document.getElementById("newPwd");

            let pw2 = document.getElementById("newPwd2");

            // 비밀번호 일치 검사

            if(pw1.value != pw2.value){

                alert("비밀번호가 일치하지 않습니다.");

                return false;
            }
        }
    </script>
</head>
<body>
<div class="wrap">
    <div class="box">
        <h3>비밀번호 재설정</h3>
        <p>비밀번호를 재설정합니다. <br> 인증코드 입력 후 새로운 비밀번호를 입력해주세요.</p>

        <form action="/member/updatePwd" method="post" onsubmit="ck_infor();">
            <input type="hidden" id="empId" name="empId" th:value="${ mvId }"/>
            <input type="hidden" id="email" name="email" th:value="${ mvEmail }"/>
            <input type="text" class="form_box" id="code" name="code" placeholder="인증코드 입력"/>
            <input type="password" class="form_box" id="newPwd" name="new_pwd" placeholder="새 비밀번호 입력해주세요"/>
            <input type="password" class="form_box" id="newPwd2" name="re_pwd" placeholder="다시 한번 입력해주세요."/>
            <button type="submit" id="btn" class="btn btn-warning">비밀번호 재설정</button>
        </form>
        <p class="copyright">Copyright © 2022 chickenstock. All rights reserved.</p>
    </div>
</div>
</body>

</html>