<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>
  <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/account/account_list.css}"/>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="wrap">

  <!-- S: header -->
  <div th:include="common/userHeader.html"></div>
  <!-- E: header -->

  <!-- S: container -->
  <div class="container px-0">

    <!-- S: aside -->
    <div th:replace="common/userSidebar.html"></div>
    <!-- E: aside -->

    <!-- S: main layout -->
    <div class="main_layout">
      <div class="main_layout_inner">

        <!-- 작업 영역 -->
        <!-- S: table -->
        <div class="container-fluid" style="margin-top:30px">
          <h3>입출금 내역</h3>
          <br>

          <!-- S: text area -->
          <div class="text-area">
            <span th:text="${ #authentication.getPrincipal().getStoreName() }"></span> <span>현재 잔액</span> <span th:text="${ #numbers.formatInteger(balance.getBalance(), 0, 'COMMA') }"></span>원
          </div>
          <!-- E: text area -->

          <div class="row">
            <div class="col-6">
              <table class="table">
                <colgroup>
                  <col style="width: 20%;">
                  <col style="width: 15%;">
                  <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                  <th>일시</th>
                  <th>입금액</th>
                  <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deposit : ${ storeDeposit }">
                  <td th:text="${ deposit.getDepositDate() }"></td>
                  <td th:text="${ #numbers.formatInteger(deposit.getDepositMoney(), 0, 'COMMA') }"></td>
                  <td th:text="${ deposit.getContent() }"></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-6">
              <table class="table">
                <colgroup>
                  <col style="width: 20%;">
                  <col style="width: 15%;">
                  <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                  <th>일시</th>
                  <th>출금액</th>
                  <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="breakdown : ${ storeBreakdown }">
                  <td th:text="${ breakdown.getBreakdownDate() }"></td>
                  <td th:text="${ #numbers.formatInteger( breakdown.getWithdrawal(), 0, 'COMMA') }"></td>
                  <td th:text="${ breakdown.getContent() }"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <!-- E: table -->
    </div>
    <!-- E: main layout -->
  </div>
  <!-- E: container -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>