<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>
  <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/common.js}"></script>
</head>
<body>
  <div class="wrap">

    <!-- S: header -->
    <div th:include="common/adminHeader.html"></div>
    <!-- E: header -->

    <!-- S: container -->
    <div class="container px-0">

      <!-- S: aside -->
      <div th:replace="common/adminSidebar.html"></div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>가맹점 등록</h3>
			      <br>

            <form th:action="@{/store/admin/insert}" method="post">
              <table class="table">
                <colgroup>
                  <col style="width:170px">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th>가맹점 명</th>
                    <td>
                      <input type="text" name="storeName" placeholder="가맹점 명을 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>계좌번호</th>
                    <td>
                      <input type="text" name="storeAccount" placeholder="계좌번호를 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>대표자 명</th>
                    <td>
                      <input type="text" name="storeRep" placeholder="대표자 명을 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>우편 번호</th>
                    <td>
                      <input type="text" name="addr1" id="addr1" readonly="readonly" style="width: 15%; float:left" placeholder="우편번호">
                      <button type="button" class="btn btn-default" onclick="execPostCode();" style="width: 10%; float: left"><i class="fa fa-search"></i> 우편번호 찾기</button>
                    </td>
                  </tr>
                  <tr>
                    <th>도로명 주소</th>
                    <td>
                      <input type="text" name="addr2" id="addr2" placeholder="도로명 주소" readonly="readonly"/>
                    </td>
                  </tr>
                  <tr>
                    <th>상세 주소</th>
                    <td>
                      <input type="text" name="addr3" placeholder="상세 주소를 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>전화번호</th>
                    <td>
                      <input type="text" name="storePhone" maxlength="" placeholder="전화번호를 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>이메일</th>
                    <td>
                      <input type="text" name="storeEmail" placeholder="이메일을 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>아이디</th>
                    <td>
                      <input type="text" name="storeId" placeholder="아이디를 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>비밀번호</th>
                    <td>
                      <input type="password" name="storePwd" placeholder="비밀번호를 입력하세요"/>
                    </td>
                  </tr>
                  <tr>
                    <th>사업자 등록번호</th>
                    <td>
                      <input type="text" oninput="autoHypen(this)" name="storeNo" maxlength="12" placeholder="사업자 등록번호를 입력하세요"/>
                    </td>
                  </tr>
                </tbody>
              </table>
                <div class="input-group mb-3 col-7 flex-right">
                  <button class="btn btn-warning ml-1" type="submit" style="color:#fff">등록</button>
                  <button class="btn btn-warning ml-1" type="submit" style="color:#fff">취소</button>
                </div>
            </form>
          </div>
          <!-- E: table -->
        </div>
      </div> 
      <!-- E: main layout -->
      
    </div>
    <!-- E: container -->
  </div>
    <script>
      function execPostCode() {
        new daum.Postcode({
          oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
            var extraRoadAddr = ''; // 도로명 조합형 주소 변수

            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
              extraRoadAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if(data.buildingName !== '' && data.apartment === 'Y'){
              extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if(extraRoadAddr !== ''){
              extraRoadAddr = ' (' + extraRoadAddr + ')';
            }
            // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
            if(fullRoadAddr !== ''){
              fullRoadAddr += extraRoadAddr;
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            console.log(data.zonecode);
            console.log(fullRoadAddr);

            document.getElementById('addr1').value = data.zonecode; //5자리 새우편번호 사용
            document.getElementById('addr2').value = fullRoadAddr;

          }
        }).open();
      }
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      const autoHypen = (target) => {
        target.value = target.value
                .replace(/[^0-9]/g, "")
                .replace(/^(\d{0,3})(\d{0,2})(\d{0,5})$/g, "$1-$2-$3")
                .replace(/(\-{1,2})$/g, "");
      };
    </script>
</body>
</html>