<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>chicken stock</title>
  <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/notice/notice.css}"/>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/common.js}"></script>
</head>
<body>

  <div class="wrap">

    <!-- S: header -->
    <div th:include="common/adminHeader.html"></div>
    <!-- E: header -->

    <!-- S: container -->
    <div class="container px-0">

      <!-- S: aside -->
      <div th:replace="common/adminSidebar.html"></div>
      <!-- E: aside -->

      <!-- S: main layout -->
      <div class="main_layout">
        <div class="main_layout_inner">

          <!-- 작업 영역 -->
          <!-- S: table -->
          <div class="container-fluid" style="margin-top:30px">
            <h3>가맹점 조회</h3>
			      <br>

            <table class="table">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 80px">
                <col style="width: 80px">
              </colgroup>
              <thead>
                <tr>
                  <th>가맹점 명</th>
                  <th>사업자 등록번호</th>
                  <th>대표자 명</th>
                  <th>주소</th>
                  <th>전화번호</th>
                  <th>이메일</th>
                  <th>수정</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="store : ${ storeList }">
                  <td th:text="${ store.storeName }"></td>
                  <td th:text="${ store.storeNo }"></td>
                  <td th:text="${ store.storeRep }"></td>
                  <td th:text="${ store.storeAddress }"></td>
                  <td th:text="${ store.storePhone }"></td>
                  <td th:text="${ store.storeEmail }"></td>
                  <td><button class="btn btn-warning" type="submit" style="color:#fff"
                              th:onclick="'location.href=\'/store/admin/update?storeName='+ @{${ store.storeName }} + '\''">수정</button></td>
                  <td><button class="btn btn-warning" type="submit" style="color:#fff"
                              th:onclick="'location.href=\'/store/admin/delete?storeName='+ @{${ store.storeName }} + '\''">삭제</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- E: table -->   
        </div>
      </div> 
      <!-- E: main layout -->
    </div>
    <!-- E: container -->
  </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script th:inline="javascript">
    let message = [[${message}]];

    if(message != null && message !== '') {
      alert(message);
    }
  </script>

</body>
</html>