@charset "UTF-8";
.container { max-width: 100%; }

    #layerPop .border_tit {font-family:굴림, verdana, arial; font-size: 11px;color: #5863C7;}
    #layerPop .border_up {font-family:굴림, verdana, arial; font-size: 11px;color: #5863C7; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#5863C7; border-top-style:solid; border-left-style:none; border-right-style:solid; border-bottom-style:none;}
    #layerPop .border_all {font-family:굴림, verdana, arial; font-size: 11px;color: #5863C7; border-top-width:2; border-right-width:2; border-bottom-width:2; border-left-width:2; border-color:#5863C7; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; }
    #layerPop .border_both {font-family:굴림, verdana, arial; font-size: 11px;color: #5863C7; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#5863C7; border-top-style:none; border-left-style:solid; border-right-style:solid; border-bottom-style:none;}
    #layerPop .border_top {font-family:굴림, verdana, arial; font-size: 11px;color: #5863C7; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#5863C7; border-top-style:solid; border-left-style:none; border-right-style:none; border-bottom-style:none;}
    #layerPop .border_back {font-family:굴림, verdana, arial; font-size: 11px;color: #5863C7; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#5863C7; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:none;}
    #taxTable td {padding: 0;}

    #layerPop {
        width: 935px;
        height: 380px;
        position:absolute;
        display:none;
        border:1px solid #ccc;
        padding:10px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        border-radius: 10px;
      }
    
      #layerPop .close {
        position:absolute;
        bottom:5px;
        right:5px;
      }
    
      .open-btn {
        border: 0px;
        background-color: white;
        cursor: pointer;
      }
    
      .close-btn { 
        position: absolute;
        right: 10px;
        top: 47px;
      }
    
      .detail-btn {
        position: absolute;
        right: 30px;
        bottom: 28px;
      }
    
      .detail-text
      {
        font-size: 20px;
        position: absolute;
        left: 160px;
      }
      .thum-detail{
        border-radius: 15px;
        border: 3px solid #fff;
        box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
      }
      .row {
        display: inline;
        margin: 27px 0 0 17px;
      }
      .row-md-4{
        margin-bottom: 15px;
      }
      .p-4{
        background-color: #f8f8f8;
      }